.log-list li   {
  cursor: pointer;
}
.jumbotron {
  text-align: center;
}

.row {
    margin-left: 125px;
    margin-right: 125px;
    margin-top: 0px:
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
