<header>
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Calculator</a>
    </div>
  </nav>
</header>

<main>
  <div class="row">
    <div class="col-sm-4">

      <div *ngIf="logs">
      <ul class="list-group log-list">
        <li class="list-group-item"
          *ngFor="let log of logs">
          {{ log.message }}
        </li>
      </ul>
      </div>

    </div>
    <div class="col-sm-8">

      <div class="jumbotron">
       <div class="form-group">
        <textarea class="form-control" rows="1" placeholder="1+1=" id="calc">{{ evalString }}</textarea>
      </div>
        <div class= "row">
          <div class="col-sm-3 nopadding">
            <button class="btn btn-info" type="button" (click)= "addToString('1')"> 1 </button>
          </div>
          <div class="col-sm-3 nopadding">
            <button class="btn btn-info" type="button" (click)= "addToString('2')"> 2 </button>
          </div>
          <div class="col-sm-3 nopadding">
            <button class="btn btn-info" type="button" (click)= "addToString('3')"> 3 </button>
          </div>
          <div class="col-sm-3 nopadding">
            <button class="btn btn-warning" type="button" (click)= "addToString('+')"> + </button>
          </div>
          <div class="col-sm-3 nopadding">
            <button class="btn btn-info" type="button" (click)= "addToString('4')"> 4 </button>
          </div>
          <div class="col-sm-3 nopadding">
            <button class="btn btn-info" type="button" (click)= "addToString('5')"> 5 </button>
          </div>
          <div class="col-sm-3 nopadding">
            <button class="btn btn-info" type="button" (click)= "addToString('6')"> 6 </button>
          </div>
          <div class="col-sm-3 nopadding">
            <button class="btn btn-warning" type="button" (click)= "addToString('-')"> - </button>
          </div>
          <div class="col-sm-3 nopadding">
            <button class="btn btn-info" type="button" (click)= "addToString('7')"> 7 </button>
          </div>
          <div class="col-sm-3 nopadding">
            <button class="btn btn-info" type="button" (click)= "addToString('8')"> 8 </button>
          </div>
          <div class="col-sm-3 nopadding">
            <button class="btn btn-info" type="button" (click)= "addToString('9')"> 9 </button>
          </div>
          <div class="col-sm-3 nopadding">
            <button class="btn btn-warning" type="button" (click)= "addToString('*')"> × </button>
          </div>
          <div class="col-sm-3 nopadding">
            <button class="btn btn-danger" type="button" (click)= "clearScreen()"> C </button>
          </div>
          <div class="col-sm-3 nopadding">
            <button class="btn btn-info" type="button" (click)= "addToString('0')"> 0 </button>
          </div>
          <div class="col-sm-3 nopadding">
            <button class="btn btn-success" type="button" (click)= "addToString('=')"> = </button>
          </div>
          <div class="col-sm-3 nopadding">
            <button class="btn btn-warning" type="button" (click)= "addToString('/')"> ÷ </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
