.log-list li   {
  cursor: pointer;
}
.jumbotron {
  text-align: center;
}



.row {
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 0px:
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
