<header>
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">My Angular 2 App!</a>
    </div>
  </nav>
</header>

<main>
  <div class="row">
    <div class="col-sm-4">

      <div *ngIf="logs">
      <ul class="list-group log-list">
        <li class="list-group-item"
          *ngFor="let log of logs">
          {{ log.message }}
        </li>
      </ul>
      </div>

    </div>
    <div class="col-sm-8">


      <div class="jumbotron">
        <textarea id="calc-field" placeholder="1+1=" (ngSubmit)="calculate('1+1+1')"></textarea>
        <div class= "row">
          <div class="col-sm-4 nopadding">
            <button class="btn btn-info" type="button"> 1 </button>
          </div>
          <div class="col-sm-4 nopadding">
            <button class="btn btn-info" type="button"> 2 </button>
          </div>
          <div class="col-sm-4 nopadding">
            <button class="btn btn-info" type="button"> 3 </button>
          </div>
          <div class="col-sm-4 nopadding">
            <button class="btn btn-info" type="button"> 4 </button>
          </div>
          <div class="col-sm-4 nopadding">
            <button class="btn btn-info" type="button"> 5 </button>
          </div>
          <div class="col-sm-4 nopadding">
            <button class="btn btn-info" type="button"> 6 </button>
          </div>
          <div class="col-sm-4 nopadding">
            <button class="btn btn-info" type="button"> 7 </button>
          </div>
          <div class="col-sm-4 nopadding">
            <button class="btn btn-info" type="button"> 8 </button>
          </div>
          <div class="col-sm-4 nopadding">
            <button class="btn btn-info" type="button"> 9 </button>
          </div>
          <div class="col-sm-4 nopadding">
          </div>
          <div class="col-sm-4 nopadding">
            <button class="btn btn-info" type="button"> 0 </button>
          </div>
          <div class="col-sm-4 nopadding">
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
